<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
	<form method="post" action="<%= session_url %>">
		<input type='hidden' name='_method' value='delete'>
		<input type="hidden"
		         name="authenticity_token"
		         value="<%= form_authenticity_token %>">
	    <button type="submit">Log Out</button>
	</form>
<%else%>
<form method="get" action="<%= new_session_url %>">
	<input type="hidden"
	         name="authenticity_token"
	         value="<%= form_authenticity_token %>">
    <button type="submit">Log In</button>
</form>
<% end %><br><br>


<%= yield %>

</body>
</html>
